<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quien es Anky?</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div id="character-container">
        <!-- Character will be injected here by JavaScript -->
    </div>

    <button id="vote-button" style="display: none;">Votar</button>
    <script src="/main.js"></script>
</body>

</html>
