<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quien es Anky?</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div id="title">ANKY</div>
    <div id="character-container">
        <!-- Character will be injected here by JavaScript -->
    </div>
    <p id="choose-image">Elije el personaje que más te guste para ser parte del Ankyverso.</p>
    <button id="vote-button" style="display: none;">Votar</button>
    <script src="/main.js"></script>
</body>

</html>
